<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}" />
    <title>Catalog of warning devices</title>

  </head>
  <body>
    <header>

    </header>

    <div class="container">
    {% block content %}
      <div class="row">
        <div class="col">
        </div>
      </div>
    {% endblock %}
    </div>

    {% block script %}
    {% endblock %}

  </body>
</html>