{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        {% crispy form %}
<div class="row">
    <div class="col">
        <div class="result">
            <p id="total-count"></p>
            <table id="devices-table" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Radius</th>
                        <th scope="col">Coordinates</th>
                    <tr>
                </thead>
                <tbody class="table-body">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="nav-links">
            <a href="#" id="link-prev" class="link-isabled">Prev</a>
            <a href="#" id="link-next" class="link-isabled">Next</a>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    {% load static %}
    <script src="{% static 'catalog/js/get_devices.js' %}"></script>
{% endblock %}