{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% crispy form %}
<hr>
<div class="row justify-content-between">
    <div class="col-auto">
        <a href="#" id="link-prev" class="link-disabled">Load Previous page</a>
    </div>
    <div id="devices-counter" class="col-auto">
    </div>
    <div class="col-auto">
        <a href="#" id="link-next" class="link-disabled">Load Next page</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="result">
            <table id="devices-table" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Radius</th>
                        <th scope="col">Coordinates</th>
                        <th scope="col">Address</th>
                    <tr>
                </thead>
                <tbody class="table-body">
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
    {% load static %}
    <script src="{% static 'catalog/js/devices.js' %}"></script>
{% endblock %}